.inputName {
	min-width: 200px;
	margin: 8px;
	padding: 16px;
	display: flex;
}

h4 {
	font-family: 'abz';
	width: 40%;
	color: #f98674;
	padding-right: 6px;
	text-align: right;
}

h4::after {
	content: ' ';
	padding-right: 8px;
}

option,
.radio {
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	align-content: flex-start;
	padding: 2px;
	min-width: 180px;
}

option:hover,
.radio:hover {
	background-color: #f8bab0;
}

/* .radio span:before {
	content: ' ';
} */

input,
select {
	border: none;
	border-bottom: 1px solid #2a6294;
	font-family: abz;
	min-width: 30px;
	align-items: center;
}

input[type='text'],
input[type='range'] {
	min-width: 190px;
	padding: 4px;
	border-radius: 4px;
}

.range {
	display: inline-block;
	color: #f98674;
	font-family: 'abz';
	font-weight: 800;
	margin-left: 6px;
}

path {
	color: red;
	padding: 4px;
}
