form > div {
	display: flex;
	flex-flow: column;
	padding-bottom: 20px;
	box-shadow: inset 0 0 2px 1px #fccdc660;
	border-radius: 12px;
	border: 1px solid #f8bab0;
	min-width: 420px;
	max-width: 60vw;
	margin: 18px auto;
}
